<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contact the Task Manager developer if you have some offers or for another reason - denis_wander@ukr.net. Click <%= link_to "here",    help_path %> if you need some help.
</p>

