	<div class="center jumbotron">
  		<h1>Welcome to Task Manager</h1>

  		<h2>
    		Join us and achieve your goals every day!
  		</h2>

  	<%= link_to "Sign up now!", signup_path , class: "btn btn-lg btn-primary" %>
	</div>

