<div class="sort_header">
		<div class="col-md-3">
     	<p><%=sortable "title"%></p>
    </div>
     <div class="col-md-3">
      	<p><%=sortable "due_date"%></p>
    </div>
    <div class="col-md-3">
   		<p><%= sortable "priority" %></p>
    </div>
    <div class="col-md-3">
    	<p>Actions</p>
    </div>
</div>
<div class="clearfix"></div>