<h1><%= @goal.title %></h1>
<div class="container">
	<div class="description-body"><%= @goal.description %></div>
</div>

<div class= "Back">
	<%= link_to 'Back to list', goals_path,  class: 'btn btn-primary' %>
</div>
