@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import "bootstrap-sprockets";
@import "users";
@import "font-awesome";
/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */
ul li a{ 
  text-decoration: none !important
  
}

ul, ol{
  padding: 0;
  margin: 0;
}

li{
  list-style: none;
}

body {
  padding-top: 140px;
  background-image: url("http://i.piccy.info/i9/8bc2787f14a9fa7270fa6d1bd1f0771e/1513765312/343789/1206508/image.jpg");
  background-attachment: fixed; 
  background-repeat: no-repeat; 
  background-position: top;
  
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {

  text-align: center;
  h1 {
    margin-bottom: 10px;
  }

}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h3 {
  text-align: center;
  padding-bottom: 40px;
  color:black;
  font-style: oblique;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

span {
  color: black;
  font-style: oblique;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.black {
color: black;
}

.Back {
  margin-top:10px;
  margin-left:  15px;
}
/* footer */

footer {
  margin-top: 60px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: black;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.btn{
  margin-top: 15px;

}


.description-body{
  background-color: #dedddd;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
-webkit-box-shadow: 13px 14px 17px -13px rgba(0,0,0,0.52);
-moz-box-shadow: 13px 14px 17px -13px rgba(0,0,0,0.52);
box-shadow: 13px 14px 17px -13px rgba(0,0,0,0.52);
}

.goals-list{
  background: #e4e4e4;
  height: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  -webkit-box-shadow: 13px 14px 17px -13px rgba(0,0,0,0.52);
-moz-box-shadow: 13px 14px 17px -13px rgba(0,0,0,0.52);
box-shadow: 13px 14px 17px -13px rgba(0,0,0,0.52);

  a{
    color: #696868;
  }

  a:hover{
    color: #337ab7 ;
  }
}

.red{
    a:hover{
    color: red;
  }
}
.green{
    a:hover{
    color: #78ed2b;
  }
}


.navbar{
  border-bottom: 3px solid #337ab7;

  a{
    color: #fff !important;
  }

  a:hover{
    color: #337ab7 !important;
  }
}

#logo, #logo:hover{
  color: #fff !important;
}
